<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<body>
    <main class="form-signin w-50 m-auto">
        <form method="post" action="/api/videoUpload" enctype="multipart/form-data">
          <h1 class="h3 mb-3 fw-normal">Please Upload Video</h1>
      
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="description", required>
            <label for="floatingInput">Description</label>
          </div>
          <div>
        
          <div class="form-floating mb-3">
              <input type="file" class="form-control" required name="video">
              <label for="Image">Video</label>
          </div>
      
          <button class="btn btn-primary w-100 py-2" type="submit">Upload</button>
          <!-- <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p> -->
        </form>
      </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>